#back-btn {
	position: fixed;
	top: 10px;
	left: 10px;
	background-color: rgba(0,0,0,0);	
	border:  none;
	border-radius: 50%;
	min-width: 60px;
	min-height: 60px;
	font-size: 2rem;
}

#back-btn:hover {
	color: white;
	background-color: rgba(0,0,0,.5);
}

#profile img {
	box-shadow: 1px 1px 3px rgba(0,0,0,.7), -1px 1px 3px rgba(0,0,0,.7), -1px -1px 3px rgba(0,0,0,.7), 1px -1px 3px rgba(0,0,0,.7);
	min-height: 350px;
	min-width: 350px;
}

#profile ul {
	list-style-type: none;
}

#profile ul li {
	background-color: rgba(0,0,0,0) !important;
}